@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(./8351183.gif); */
    background: url(./galaxy-nature-aesthetic-background-starry-sky-mountain-remixed-media.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    /* background:#000; */
    background:rgba(0,0,0,.0);
    box-shadow: 0 0 20px #fff;
    border-radius: 20px;
    transition: 1s;
    overflow: hidden;
    animation: wrapper-blur 3s infinite;
}
@keyframes wrapper-blur {
    0%{
        filter: blur(0px);
    }
    50%{
        filter: blur(3px);
    }
    100%{
        filter: blur(0px);
    }
}
.wrapper:hover {
    animation: none;
}

.wrapper.active .form-wrapper.login{
    transform: translateY(-560px);
}
.wrapper.active .form-wrapper.register{
    transform: translateY(-610px);
}
.wrapper.active {
    height: 600px;
}
.site-logo-register{
    transition: 1s;
}

.wrapper .site-logo-register{
    transform: translateY(10px);
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px  solid #fff; 
}

.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition:.5s;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top:-5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot{
    color: #fff;
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color:#fff;
    margin-right: 3px;
}

a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover{
    color: aqua;
    text-transform: uppercase;
}




.login-btn button{
    position: relative;
    display: inline-block;
    border: 2px solid white;
    /* border-radius: 46px; */
    background: transparent;
    cursor: pointer;
    font-size: 1em;
    color: white;
    width: 100%;
    height: 50px;
    letter-spacing: .2em;
    padding: 10px 30px;
    transition: 1s;
    /* 加上之后防止字体被遮盖 */
    z-index: 1;
    /* 加上这一句就能隐藏突出的部分 */
    overflow: hidden;
    transition: color .5s, box-shadow .4s;
}
.login-btn button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;;
    width: 0;
    height: 100%;
    transition: 1s;
    background: white;
    transform: skewX(35deg);
    z-index: -1;
}
.login-btn button:hover{
    transition-delay: 0s ,.2s;
    color: #000;
    box-shadow: 
    0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white,
    0 0 160px white;
}
.login-btn button:active{
    color:white;
    background-color: #000;
}
.login-btn button:active::before{
    background-color: #000;
}
.login-btn button:hover::before{    
    color: #000;
    position: absolute;
    top: 0;
    left: -50px;;
    width: 76%;
    height: 50px;
    transition: .4s;
    transform: skewX(35deg);
}



.register-link{
    color: #fff;
    font-size: .9em;
    margin: 20px 0 10px;
    text-align: center;
}

.register-link a{
    font-weight: 600;
}

.login-light{
    position: absolute; 
    top:-123px;
    left:50%;
    transform: translateX(-50%);
    width: 500px;
    height: 10px;
    background: aqua;
    border-radius: 20px;
}

.toggle{
    position: absolute;
    top:20px;
    right: -70px;
    width: 60px;
    height: 120px;
    background: #191919;
    border-radius: 20px;
}
.toggle::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 80%;
    background: #000;

}
.input-check{
    position: absolute;
    right:-60px;
    z-index: 1;
    opacity: 0;
}

.register-box{
    position: relative;
    width: 400px;
    height: 450px;
    /* background:#000; */
    background:transparent;
    /* box-shadow: 0 0 20px #fff;
    border-radius: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.send-verify-btn button{
    position: relative;
    top:40px;
    left: 20px;
    width: 100%;
    height: 40px;
    letter-spacing: .2em;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
    color:#fff;
    border: white 1px solid;
    border-radius: 6px;
    background: transparent;
}

.send-verify-btn button:hover{
    background: rgba(255,255,255,.1);
    color: #fff;
    width: 100%;
    height: 40px;
    letter-spacing: .2em;
    padding: 10px 30px;
}
.send-verify-btn button:active{
    background-color: rgba(0,0,0,.1);
}



